@font-face {
  font-family: "poppins-regular";
  src: local("Poppins-Regular"),
    url("./fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "poppins-bold";
  src: local("Poppins-Bold"), url("./fonts/Poppins-Bold.ttf") format("truetype");
}
